@model List<BlogModel>
@{
    ViewData["Title"] = "Blog";
}
<div class="container">
    <div class="row">
        <div class="col">
            @foreach (var item in Model)
            {
                <div class="fancy-border">
                    <h3>@item.title</h3>
                    <img src="~/img/@item.img" alt="@item.title" class="bloc" />
                    <p>@item.preview</p>
                    <a class="btn btn-success" asp-controller="Blog" asp-action="Post" asp-route-id="@item.id">Read more</a>
                    <a class="btn btn-warning" asp-controller="Blog" asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Blog" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </div>

            }
        </div>
    </div>
</div>
 